.nav {
  .nav__item {
    @include border;
    @include nav-font;
    color: $white;
    list-style: none;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    text-transform: capitalize;

    &:hover,
    &:focus {
      background: $color-primary;
      text-shadow: 1px 0 5px $black;
      transition: background, text-shadow .1s ease-out;
    }
  }
}

.section-title {
  @include heading-font;
  padding-bottom: $section-title-padding;
  padding-top: $section-title-padding;
  text-transform: uppercase;

  &--dark-bg {
    border-bottom: $section-title-border-size solid $color-font-dark-bg;
    color: $color-font-dark-bg;
  }

  &--light-bg {
    border-bottom: $section-title-border-size solid $color-primary;
    color: $color-primary;
  }
}

.bg-img {
  background-size: cover;
  height: 100%;
  width: 100%;

  &--event {
    background: linear-gradient(transparentize($color-primary, .6), transparentize($color-primary, .6)),
    url('//unsplash.it/1600/1000/?gravity=west') center center no-repeat;
    background-size: cover;
  }
}

.btn {
  &--primary {
    @include content-font;
    background-color: $color-primary !important;
    color: $color-font-dark-bg !important;

    &:hover,
    &:focus {
      background-color: lighten($color-primary, 10) !important;
    }
  }


  &--secondary {
    @include content-font;
    background-color: $color-secondary !important;
    color: $color-font-dark-bg !important;

    &:hover,
    &:focus {
      background-color: lighten($color-secondary, 10) !important;
    }
  }
}

.panel {
  padding-bottom: $padding-section-bottom;
}
